//Singularity settings:
singularity.enabled = true
singularity.runOptions = "-B /panfs/roc/groups/7/mdh:/panfs/roc/groups/7/mdh"
process.stageInMode = "link"

//Docker containers:
trimmomatic_container = '/home/mdh/estanton/HAI_nf/singularity/staphb-trimmomatic-0.39.img'
bbtools_container = '/home/mdh/estanton/HAI_nf/singularity/staphb-bbtools-38.76.img'


process {

	cpus	= 4
	memory	= '4 GB'

	withName:trimming{
		cpus		= 2
		memory 		= '8 GB'
		container 	= trimmomatic_container
	}
	withName:filtering{
		cpus		= 2
		memory		= '12 GB'
		container	= bbtools_container
	}
}
