// TODO: Add author information

// Singularity parameters:
singularity.enabled = true
singularity.runOptions = "-B /panfs/roc/groups/7/mdh:/panfs/roc/groups/7/mdh"
process.stageInMode = "link"

// Pipeline parameters:
// TODO: Output directory needs to be alterable by user but default 
// 	to 'results and contain subdirectories with HAI_seq_ID'
params.outdir='HAI_results'
params.leading=20
params.trailing=20
params.minlen=50
params.avgqual=30

report.enabled		= true
trace.enabled		= true

// Docker containers:
// TODO: Make paths generic
trimmomatic_container	= '/home/mdh/estanton/HAI_nf/singularity/staphb-trimmomatic-0.39.img'
bbtools_container	= '/home/mdh/estanton/HAI_nf/singularity/staphb-bbtools-38.76.img'
kraken2_container	= '/home/mdh/estanton/HAI_nf/singularity/staphb-kraken2-2.0.8-beta.img'
spades_container	= '/home/mdh/estanton/HAI_nf/singularity/staphb-spades-3.15.2.img'
mlst_container		= '/home/mdh/estanton/HAI_nf/singularity/staphb-mlst-2.19.0.img'
quast_container		= '/home/mdh/estanton/HAI_nf/singularity/staphb-quast-5.0.2.img'

//TODO: Add flow control for restarting containers
process {

	cpus	= 4
	memory	= '4 GB'
	time	= '1h'

	withName:trimming{
		cpus		= 4
		memory 		= '8 GB'
		time		= '1h'
		container 	= trimmomatic_container
	}
	withName:filtering{
		cpus		= 4
		memory		= '8 GB'
		time		= '1h'
		container	= bbtools_container
	}
	withName:kraken2{
		cpus		= 12
		memory		= '24 GB'
		time		= '4h'
    		container	= kraken2_container
  	}
	withName:spades{
		cpus 		= 8
		memory 		= '16 GB'
		time 		= '4h'
		container 	= spades_container
	}
	withName:mlst{
		cpus		= 1
		memory		= '2 GB'
		time		= '1h'
		container	= mlst_container
	}
	withName:quast{
		cpus		= 4
		memory		= '4 GB'
		time		= '1h'
		container	= quast_container

	}
}
